# Supabase
SUPABASE_URL=https://pyselclofenwizhuvdwp.supabase.co
SUPABASE_ANON_KEY=

# Resend
RESEND_API_KEY=

# Admin credentials
ADMIN_EMAIL=Cristobal@tantauco.vc
ADMIN_PASSWORD=Sofia123
ADMIN_SECRET=tantauco2025
